*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #06070f;
  color: #f9fafb;
}

#root {
  min-height: 100vh;
}
